@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f2ff00;
    --secondary-color: #0400de;
    --accent1-color: #edf514;
    --accent2-color: #101D42;

    --heading-font: "Caveat", sans-serif;
    --paragraph-font: "Lato", sans-serif;

    --nav-background-color: #89d2dc;
    --nav-link-color: #101D42;
    --nav-hover-link-color: #ffff00;
    --nav-hover-background-color: #fcfc06;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

header {
    padding: 20px;
    background-color: var(--nav-background-color);
    display: grid;
    grid-template-columns: auto;
}

h1 {
    position: absolute;
    top: 200px;
    left: 250px;
    color: var(--accent2-color)
}

p {
    padding: 25px;
}

.hero > img {
    max-width: 920px;
    opacity: 25%;
}

article img {
    position: absolute;
    top: 15px;
    left: 580px;
    width: 270px;
    height: auto;
    opacity: 100%;
}

section img {
    width: 170px;
    height: auto;
}

box image {
    float: right;
}

nav img {
    max-height: 80px;
    width: auto;
}

nav {
    background-color: var(--nav-link-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    display: block;
    color: var(--nav-hover-background-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--nav-hover-link-color)
}

nav a:hover {
    color: var(--nav-link-color);
    background-color: var(--nav-background-color);
}

.box {
    position: absolute;
    max-width: 500px;
    top: 300px;
    left: 50px;
}

.top {
    position: relative;
    top: 0px;
}

.adventure {
    padding: 0px;
}

.image-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.image-row figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    margin: 0;
}

.image-row img {
    width: 100%;
    height: auto;
    display: block;
}

.image-row figcaption {
    background-color: #222;
    color: #fff;
    padding: 6px;
    text-align: center;
    margin-top: 0px;
    font-style: italic;
    width: 170px;
}

.sociallinks {
    display: flex;
    justify-content: right
}