
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-color: #f2ff00;
    --secondary-color: #0400de;
    --accent1-color: #edf514;
    --accent2-color: #101D42;

    --heading-font: "Caveat", sans-serif;
    --paragraph-font: "Lato", sans-serif;

    --nav-background-color: #89d2dc;
    --nav-link-color: #101D42;
    --nav-hover-link-color: #ffff00;
    --nav-hover-background-color: #fcfc06;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

header {
    padding: 20px;
    background-color: var(--nav-background-color);
    display: grid;
    grid-template-columns: auto;
}

h1 {
    position: absolute;
    top: 200px;
    left: 250px;
    color: var(--accent2-color)
}


p {
    padding: 25px;
}

/* This is the hero image in the background:  */
/* div img {
    max-width: 920px;
    opacity: 50%;
} */

.hero > img {
    /* position: relative; */
    max-width: 920px;
    opacity: 25%;
} 

/* This is the happy customer image which goes on top of the hero image:  */
article img {
    position: absolute;
    top: 15px;
    left: 580px;
    width: 270px;
    height: auto;
    opacity: 100%;
}

section img {
    width: 170px;
    height: auto;
}

box image {
    float: right;
} 

nav img {
    max-height: 80px;
    width: auto;
}

nav {
    background-color: var(--nav-link-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    display: block;
    color: var(--nav-hover-background-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--nav-hover-link-color)
}

nav a:hover {
    color: var(--nav-link-color);
    background-color: var(--nav-background-color);
}

/* Class selectors */


.box {
    position: absolute;
    max-width: 500px;
    top: 300px;
    left: 50px;
}

.top {
    position: relative;
    top: 0px;
}

.adventure {
    padding: 0px;
    /* display: flex; */
    /* justify-content: space-evenly; */
}

.image-row img {
    display: grid;
    grid-template-columns: auto;
/*    justify-content:space-evenly; */
    gap: 0; 
    max-width: 100%;
    opacity: 100%;
}

.sociallinks {
    display: flex;
    justify-content: right
}

 /*
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
  }

img {
    max-width: 220px;
    max-height: 150px;
  }

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  } */
