@import url("@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap')");

:root {
    --primary-color: #000000;
    --secondary-color: #dfdfdf;
    --accent1-color: #de1313;
    --accent2-color: #200ecd;

    --heading-font: ""

}